:root {
	--fg-color:#eee;
	--bg-color:#000;
}
* {box-sizing:border-box;scrollbar-color:#2a2c2e #1c1e1f}
a:not(:hover){text-decoration:none}
body a:not([url]){color:#fff}
h1,h2,h3{font-weight:300}
body > * {
	font-family:Cantarell,Ubuntu,"Google Sans",Roboto,"Segoe UI",Arial;
	margin:0;
	border-color:#575757;
	color:#eee;
	background:#181818 linear-gradient(90deg,#020d19,#190605);
}
body > section > nav#bar {
	background:#333 linear-gradient(135deg,#333,#223 80%);
	position:sticky;
	top:0%;
	left:0px;
	right:0px;
	box-shadow:0 3px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	overflow:hidden;
	width:100%;
/*min-height:50px;
	max-height:92px;*/
	display:block;
	z-index:2;
	transition:top 0.3s;
	border-radius:0 0 8px 8px;
	user-select:none;
}
body > section > nav#bar:hover {top:0%!important;}
body > section > nav#bar > a {
	float:left;
	display:block;
	color:#fff;
	text-align:center;
	padding:12px 16px;
	margin:4px;
	border-radius:4px;
	text-decoration:none;
	z-index:2;
	transition:box-shadow 0.1s ease-in-out;
}
body > section > nav#bar > a.right {float:right}
body > section > nav#bar > a.active {cursor:default;background:#fff6;color:#fff;z-index:3;box-shadow:0 0 2px 0 rgba(0,0,0,0.4),0 0 5px 0 rgba(0,0,0,0.24)}
body > section > nav#bar > a:hover {background:#fffd;color:#000;z-index:4;box-shadow:0 0 8px 0 rgba(0,0,0,0.4),0 0 10px 0 rgba(0,0,0,0.24)}
/*Cool hover effect (slightly modified to be as lightweight as possible) by hyperplexed*/
body > section > nav#bar:hover > a::before {opacity:1}
body > section > nav#bar > a::before {
	content:'';
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	border-radius:inherit;
	opacity:0;
	background:radial-gradient(
		600px circle at var(--cursor-x) var(--cursor-y),
		rgba(255, 255, 255, 0.2),
		transparent 40%
	);
	transition:opacity 500ms;
	z-index:-1;
}

body > section > header {
	text-shadow:2px 2px 2px #000;
	margin-top:-1em;
	cursor:default;
	user-select:none;
	user-drag:none;
	padding:3rem;
	text-align:center;
	background:url('bg.jpg');
	background-size:cover;
	background-position:center;
	color:white;
}
body > section > header > h1 {font-size:2.5rem;font-weight:lighter}
body > section > header > p {color:#fff}
/*body > section > .row {display:flex;flex-wrap:wrap}
body > section > .row > .side {
	flex:30%;
	background:#181a1b;
	padding:20px;
}unused*/
body > section > main img {border-radius:4px;box-shadow:0 0 8px 0 rgba(0,0,0,0.4)}
body > section > main {
	padding: 0.5rem 5%;/*flex:70%;unused*/
	background:#101010;
	padding:20px;
	min-height:calc(100vh - 300px)
}
body > section > main [data-animateonscroll="slideup"] {
	transform:translateY(5rem);
	opacity:0;
}
body > section > main [data-animateonscroll="slideup"].animate__slideup {
	transform:translateY(0px);
	opacity:1;
	animation:animate__slideup 500ms cubic-bezier(0.22,0.61,0.36,1);
}
@keyframes animate__slideup {
	0% {transform:translateY(5rem);opacity:0}
	100% {transform:translateY(0px);opacity:1}
}
body > section > footer {
	padding:1.3rem;
	text-align:center;
	background:#333;
	margin-top:-1rem;
	width:100%;
	border-radius:1rem 1rem 0 0;
	box-shadow:0 -3px 4px 0 rgba(0,0,0,0.4),0 -2px 8px 0 rgba(0,0,0,0.4);
	text-shadow:2px 2px 2px #000
}
body > section .navlinkimg {margin:.2rem 0;color:#fff!important;background:#fff5;min-width:13rem;min-height:3rem;max-width:100%;max-height:13rem;width:13rem;height:3rem;transition:0.5s ease-in-out;border-radius:.3rem;box-shadow:0 .1rem .2rem 0 rgba(0,0,0,0.4),0 .1rem .2rem 0 rgba(0,0,0,0.4);text-shadow:.1rem .1rem .1rem #000;overflow:hidden;display:block}
body > section .navlinkimg > .wrapper {position:absolute;width:inherit;height:inherit;z-index:1;transition:0.5s ease-in-out;overflow:hidden}
body > section .navlinkimg > .wrapper::before {content:'';position:absolute;width:inherit;height:inherit;background:linear-gradient(#0000,#000a);opacity:0;transition:0.5s ease-in-out}
body > section .navlinkimg > .wrapper > .title,
body > section .navlinkimg > .wrapper > .desc {position:absolute;display:inline-block;margin:0;padding:0;transition:0.5s ease-in-out;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;max-width:calc(100% - 1rem)}
body > section .navlinkimg > .wrapper > .title {z-index:2;bottom:1rem;left:1rem}
body > section .navlinkimg > .wrapper > .desc {z-index:1;bottom:.5rem;left:.5rem;opacity:0}
body > section .navlinkimg > img {position:absolute;width:inherit;height:inherit;object-fit:cover;border:none;outline:none;z-index:0;object-position:center}
body > section .navlinkimg:hover {background:#fff6;width:24rem;height:13rem}
body > section .navlinkimg:hover > .wrapper::before {opacity:1}
body > section .navlinkimg:hover > .wrapper > .title {bottom:1.8rem;left:.5rem}
body > section .navlinkimg:hover > .wrapper > .desc {opacity:1}
body > section .navlinkimg > .item-thumbnail{display:inline;float:left;overflow:hidden;width:100%}
body > section .navlinkimg > .item-thumbnail > img{display:block;max-width:100%;height:auto;transform:scale(1);transition:0.5s}
body > section .navlinkimg > .filter-item-content{cursor:default;user-select:none;user-drag:none;position:absolute;left:10px;top:10px;right:10px;bottom:10px;background-color:#000;color:#fff;padding-top:0%;transition:all 0.2s;opacity:0}
body > section .navlinkimg > .filter-item-content .title{text-align:center;font-size:18px}

body.bright {color:#111;background:#eee}
body.bright a:not([url]){color:#000}
body.bright > section > nav#bar {background:#ccc linear-gradient(135deg,#ccc,#bbc 80%)}
body.bright > section > nav#bar > a.active {background:#0006}
body.bright > section > nav#bar > a:hover {background:#000d;color:#fff}
body.bright > section > nav#bar > a:not(:hover){text-shadow:0 0 4px #000f}
body.bright > section > nav#bar > a::before {background:radial-gradient(600px circle at var(--cursor-x) var(--cursor-y),rgba(0,0,0,0.4),transparent 40%)}
body.bright > section > .row > .side {color:#000;background:#f1f1f1}
body.bright > section main {color:#000;background:#fff}
body > section .navlinkimg {background:#0005}
body > section .navlinkimg:hover {background:#0006}
body.bright > section > footer {color:#fff;background:#aaa;box-shadow:0 0 8px 0 rgba(0,0,0,0.4)}
body.bright > section > footer a {color:#fff!important}

/*body > section > nav#bar > form.search-container{float:center;display:inline-block}
body > section > nav#bar > form.search-container > input[type=text]{
	display:inline;
	width:80px;
	min-width:80px;
	box-sizing:border-box;
	padding:10px 13px;
	font-size:17px;
	color:#fff;
	background:none;
	border:none;
	outline:none;
	transition:0.3s;
	margin:4px;
	border-radius:4px;
}
body > section > nav#bar > form.search-container > button{
	float:center;
	padding:12px 0;
	background:#ddd;
	font-size:17px;
	border:none;
	cursor:default;
	opacity:0;
	margin:0;
	color:#fff;
	transition:opacity 0.3s padding 0.3s;
	display:none
}
body > section > nav#bar > form.search-container > input[type=text]:not(:focus){cursor:default}
body > section > nav#bar > form.search-container > input[type=text]:hover {background:#ddd;color:#000}
body > section > nav#bar > form.search-container > input[type=text]:focus {background:#eee;color:#111;width:50%}
body > section > nav#bar > form.search-container > input[type=text]:focus nav#bar .search-container button {opacity:1;padding:12px;display:inline-block}
body > section > nav#bar > form.search-container > button:hover{background:#ccc}unused*/
@media screen and (max-width:700px) {body.bright > section > .row {flex-direction:column}}
@media screen and (max-width:400px) {body > section > nav#bar > a {width:calc(50% - 8px)}}

/* Nice hint from https://redstapler.co/prefers-color-scheme-tutorial:
@media (prefers-color-scheme:light/dark){}
*/